<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TMW</title>
	<link rel="stylesheet" type ="text/css" href="css/style.css" />
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/shop-homepage.css" rel="stylesheet">
	<link href="css/shop-item.css" rel="stylesheet">

</head>

<body>
	{{{body}}}
<script type="text/javascript", src="/js/static.js"></script>

	<!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>