<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TMW </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
                <ul class ="nav navbar-nav" style="float: right;">
                    <li >
                        <a href="/cart">Cart</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Nations In Need</p>
                <div class="list-group">
                    <a href="/india" class="list-group-item">India</a>
                    <a href="/congo"  class="list-group-item">Congo</a>
                </div>
            </div>

            <div class="col-md-9">

                <div class="thumbnail">
                    <img class="img-responsive" src="/pictures/better-tomorrow.png" alt="">
                    <div class="caption-full" style="text-align: center">
                        <p>TMW is a non-profit organization that provides opportunities for individuals to contribute to long-term improvements of nations in need. We strongly believe that giving more people the opportunity to live, gives back to the world as a whole. Who knows what these people from these nations are able to contribute? Time and time again we see that survivors tend to give back more to their communities, and the world as a whole. Our mission is to try to foster this cycle.</p>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->